html {
  height: 100%;
  color: #1e272e;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
  padding: 1rem;
}

.site-footer {
  padding: 1rem;
  color: #485460;
  background: #d2dae2;
}